.app {
  padding-top: 65px;
  padding-bottom: 75px;
  background-color: $gray-300;
  background-image: url("../../img/app-bg.png");
  background-repeat: no-repeat;
  background-position: center top -211px;
  background-size: cover;

  &__title {
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 65px;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 166px;
      height: 2px;
      background-color: $black-300;

      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 840px) {
  .app {
      background-position: center top -268px;
  }
}

@media (max-width: 767px) {
  .app {
    &__title {
      font-size: 22px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }
}

@media (max-width: 620px) {
  .app {
    &__title {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 18px;
    }
  }
}