.social-icons {
  max-width: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid $gray-400;
  border-bottom: 1px solid $gray-400;

  &-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    background-color: $white;
    border-right: 1px solid $gray-400;

    &:first-child {
      border-left: 1px solid $gray-400;
    }
  }
}

.social__icon {
  fill: $gray-400;
}

.footer__box .social-icons {
  border-color: $brown;
}

.footer__box .social-icons-link {
  border-color: $brown;
}

.footer__box .social__icon {
  fill: $brown;
}

@media (max-width: 730px) {
  .header .social-icons {
    width: 50%;
    margin: 0 auto 10px;
  }
}